streamlit
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-chroma
langgraph

chromadb

google-generativeai

pypdf
docx2txt

unstructured

watchdog